@import "src/styles/colors";
@import "src/styles/media";

ul.project-area {
    list-style: none;
    position: relative;

    @include not-mobile {
        padding: 2em 0 2em 2em;
    }

    // line
    @include not-mobile {
        &:before {
            width: 0.2em;
            top: 0;
            bottom: 1em;
            position: absolute;
            content: " ";
            background-color: $light-text;
            margin-left: -1.5px;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    }
}

ul.project-area > li {
    @include not-mobile {
        margin-left: 2em;
        margin-right: 1em;
    }
    margin-bottom: 1em;

    display: grid;
    @include not-tablet {
        grid-template-areas:
            "text  embed"
            "links embed";
        grid-template-columns: 3fr 4fr;
        grid-template-rows: auto 1fr;
        grid-gap: 1em;
        align-items: start;
    }
    @include tablet-only {
        grid-template-areas:
            "text"
            "embed"
            "links";
        grid-template-rows: 1fr;
    }

    & .embed {
        grid-area: embed;
    }
    & .text {
        grid-area: text;
    }
    & .links {
        grid-area: links;
    }

    & .embed {
        width: 100%;
        @include mobile-only {
            margin-bottom: 1.5em;
        }
    }
}
