@import "styles/colors";
@import "styles/media";

@import "styles/buttons";

body {
    color: $light-text;
}

.App {
    display: grid;
    grid-template-areas:
        "header header header"
        ". main ."
        "footer footer footer";
    grid-template-columns: 1fr auto 1fr;
    align-content: center;
    align-items: center;
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

header {
    text-align: center;
}

body {
    width: calc(100% - 2em);
    padding: 0 1em;
}

main {
    @include not-tablet {
        max-width: 60em;
    }
}

main h1 {
    border-bottom: $light-text solid 0.2rem;
    border-bottom-right-radius: 30%;
}

nav > a {
    text-decoration: none;
    padding: 0.5em;
    background-color: $light-bg-inset;
    color: $light-text;

    &:hover {
        background-color: $light-bg;
    }

    transition: background-color 300ms ease-out;
}
